*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100vh;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    
}

.left{
    height: 100%;
    width: 20vw;
    background-color:#e9ffff;
    
}

.left h1{
    font-family: gilroy;
    font-size: 1.5rem;
    background-color:lightseagreen;
    padding: 10px;

}

.buttonDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;     
    padding: 30px;
    
}

.buttonDiv button{
    height: 40px;
    width: 170px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
    box-shadow: 2px 2px 4px 2px #d8d2d2;
}

.right{
    height: 100%;
    width: 80vw;

    
}


/*

@media only screen and (max-width: 600px) {
    .main{
        flex-direction: column;
    }
    .left{
        
        height: 20%;
        width: 100%;
    }

    .left h1{
        text-align: center;
    }

    .buttonDiv{
        display: flex;
       flex-direction: row; 
       flex-wrap: wrap;
    }

    .buttonDiv button{
        height: 50px;
        width: 70px;
        border-radius: 20px;
        border: none;
        outline: none;
        font-size: 1rem;
        cursor: pointer;
        text-transform: capitalize;
        font-weight: 500;
        box-shadow: 2px 2px 4px 2px #d8d2d2;
    }    
    }
    .right{
        height: 80%;
        width: 100%;
        order: -1;
        
    }


*/

/* Styles for screens between 601px and 1024px */
/* @media only screen and (min-width: 601px) and (max-width: 1024px) {
    
    
} */

/* Styles for screens larger than 1024px */
/* @media only screen and (min-width: 1025px) {
    
} */
